In [2]:
from data import _read_cvrp, _read_distance, create_random_vrp
from map import Map

%load_ext autoreload
%autoreload 2


data, meta_data = _read_cvrp('sample_data/X-n5.vrp')
print(meta_data)
data

{'name': 'X-n5', 'comment': 'Generated by Ardavan Sassani (2013)', 'type': 'CVRP', 'dimension': 5, 'edge_weight_type': 'EUC_2D', 'capacity': 206, 'filepath': 'sample_data/X-n5', 'depots': ['1']}

       NODE_COORD DEMAND ID  IS_DEPOT
0  (365.0, 689.0)      0  1      True
1  (146.0, 180.0)     38  2     False
2    (792.0, 5.0)     51  3     False
3  (658.0, 510.0)     73  4     False
4  (461.0, 270.0)     70  5     False

In [3]:
data, meta_data = create_random_vrp(10,10,10,20)
print(meta_data)
data

{'filepath': 'memory', 'name': 'X-n100k', 'comment': 'This grid was made randomly', 'type': 'CVRP', 'edge_weight_type': 'EUC_2D', 'dimension': 100, 'capacity': 58.04}

     ID NODE_COORD  DEMAND
0     1     (0, 0)      12
1     2     (1, 0)      20
2     3     (2, 0)      13
3     4     (3, 0)      17
4     5     (4, 0)      13
..  ...        ...     ...
95   96     (5, 9)      17
96   97     (6, 9)      12
97   98     (7, 9)      11
98   99     (8, 9)      13
99  100     (9, 9)      10

[100 rows x 3 columns]

In [50]:
map = Map()
# map.create_map_from_file('sample_data/X-n5.vrp', 'cvrp')
# map.create_map_from_file('sample_data/X-n101-k25.vrp', 'cvrp')
map.create_map_from_file('sample_data/X-n1001-k43.vrp', 'cvrp')
# map.distances

In [57]:
distance, _ = _read_distance('sample_data/X-n15.dist')
distance.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15 entries, 1 to 15
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1       15 non-null     float64
 1   2       15 non-null     float64
 2   3       15 non-null     float64
 3   4       15 non-null     float64
 4   5       15 non-null     float64
 5   6       15 non-null     float64
 6   7       15 non-null     float64
 7   8       15 non-null     float64
 8   9       15 non-null     float64
 9   10      15 non-null     float64
 10  11      15 non-null     float64
 11  12      15 non-null     float64
 12  13      15 non-null     float64
 13  14      15 non-null     float64
 14  15      15 non-null     float64
dtypes: float64(15)
memory usage: 1.9 KB